#letsplay.letsplay.text-center
  .logo(style="width: 70px; height: 70px; background: pink")
    img(src="", alt="")
  h1.title Tìm câu hỏi, câu trả lời phù hợp 
  .btn--site
    a.btn-play.btn-s.btn-s--primary Let's Play
// .let's play    