#playing.playing.disable
  .playing--top
    .col.img-figure
    .col.title--small Tìm câu hỏi, câu trả lời phù hợp với hình ảnh minh họa và mẫu câu cho sẵn
    .col.logo
    .clearfix        
  // .question
  .playing--question.text-center
    .img-question
      img(src="", alt="")
    .conversation--site
      .conversation__content
        .col.conversation__img
          img(src="", alt="")
        .col.conversation__text
          p Mai
          p 
            span
              input(type="text")
              |. I'm Mai
        .clearfix        
      .conversation__content
        .col.conversation__img
          img(src="", alt="")
        .col.conversation__text
          p Mai
          p Hi Mai.
        .clearfix                  
    // .conversation--site
  // .playing--question   
  .playing--answer
    form(action="" name="listAns")
      .col-33.col
        .ansewer__item
          input(type="radio", name="answer")
          span let's play EducaGame
      .col-33.col
        .ansewer__item
          input(type="radio", name="answer")
          span let's play EducaGame
      .col-33.col
        .ansewer__item
          input(type="radio", name="answer")
          span let's play EducaGame
      .clearfix
  // .playing answer
  .btn--site.text-center
    a.btn-s.btn-s--submit submit
// .playing